$primary-color: #232323;
$secondary-color: #4CAF50;
$action-color: #ff3c00;
$text-color: #ffffffc4;
$background-color: #2c2b2b;
$border-radius: 8px;
$spacing: 1rem;

// Fonts
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Poppins', sans-serif;
